<div class="list list-novel list-genre col-xs-12">
    <div class="header-list">
        <h4>Genres</h4>
    </div>
    <div class="row">
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/action" title="Action">Action</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/adult" title="Adult">Adult</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/adventure" title="Adventure">Adventure</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/ai" title="Ai">Ai</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/arts" title="Arts">Arts</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/bender" title="Bender">Bender</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/comedy" title="Comedy">Comedy</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/drama" title="Drama">Drama</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/ecchi" title="Ecchi">Ecchi</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/fantasy" title="Fantasy">Fantasy</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/game" title="Game">Game</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/gender" title="Gender">Gender</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/gender+bender" title="Gender Bender">Gender Bender</a>
        </div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/harem" title="Harem">Harem</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/historical" title="Historical">Historical</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/history" title="History">History</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/horror" title="Horror">Horror</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/josei" title="Josei">Josei</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/lolicon" title="Lolicon">Lolicon</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/martial" title="Martial">Martial</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/martial+arts" title="Martial Arts">Martial Arts</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/mature" title="Mature">Mature</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/mecha" title="Mecha">Mecha</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/modern+life" title="Modern Life">Modern Life</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/mystery" title="Mystery">Mystery</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/psychological" title="Psychological">Psychological</a>
        </div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/romance" title="Romance">Romance</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/school+life" title="School life">School life</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/sci-fi" title="Sci-fi">Sci-fi</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/seinen" title="Seinen">Seinen</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/shoujo" title="Shoujo">Shoujo</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/shoujo+ai" title="Shoujo Ai">Shoujo Ai</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/shounen" title="Shounen">Shounen</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/shounen+ai" title="Shounen Ai">Shounen Ai</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/slice+of+life" title="Slice of Life">Slice of Life</a>
        </div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/smut" title="Smut">Smut</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/sports" title="Sports">Sports</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/supernatural" title="Supernatural">Supernatural</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/tragedy" title="Tragedy">Tragedy</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/urban" title="Urban">Urban</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/wuxia" title="Wuxia">Wuxia</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/xianxia" title="Xianxia">Xianxia</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/xuanhuan" title="Xuanhuan">Xuanhuan</a></div>
        <div class="col-xs-6"><a href="/{{getUrlGenre}}/yaoi" title="Yaoi">Yaoi</a></div>
        <div class="col-xs-6"><a href="/{{URL_GENRE_NOVEL}}/yuri" title="Yuri">Yuri</a></div>
    </div>
</div>