<header class="header" style="display: block">
    <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
        <div class="container">
            <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse"><span class="sr-only">Show menu</span><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <h5><a class="header-logo" href="/" title="Read Novel Online Full"><img src="/img/logo.png"
                            alt="Read Novel Online Full">
                        {{getDomainDesc}} </a>
                </h5>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="control nav navbar-nav ">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" title=""><span
                                class="glyphicon glyphicon-list"></span> Novel List <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{getLastestLink}}" title="Latest Release">Latest Release</a></li>
                            <li><a href="{{getHotNovelLink}}" title="Hot Novel">Hot Novel</a></li>
                            <li><a href="{{getCompletedNovelLink}}" title="Completed Novel">Completed Novel</a></li>
                            <li><a href="{{getPopularNovelLink}}" title="Most Popular">Most Popular</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" title=""><span
                                class="glyphicon glyphicon-list"></span> Genre <span class="caret"></span></a>
                        <div class="dropdown-menu multi-column">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{getUrlGenre}}/action" title="Action">Action</a></li>
                                        <li><a href="/{{getUrlGenre}}/adult" title="Adult">Adult</a></li>
                                        <li><a href="/{{getUrlGenre}}/adventure" title="Adventure">Adventure</a></li>
                                        <li><a href="/{{getUrlGenre}}/ai" title="Ai">Ai</a></li>
                                        <li><a href="/{{getUrlGenre}}/arts" title="Arts">Arts</a></li>
                                        <li><a href="/{{getUrlGenre}}/bender" title="Bender">Bender</a></li>
                                        <li><a href="/{{getUrlGenre}}/comedy" title="Comedy">Comedy</a></li>
                                        <li><a href="/{{getUrlGenre}}/drama" title="Drama">Drama</a></li>
                                        <li><a href="/{{getUrlGenre}}/ecchi" title="Ecchi">Ecchi</a></li>
                                        <li><a href="/{{getUrlGenre}}/fantasy" title="Fantasy">Fantasy</a></li>
                                        <li><a href="/{{getUrlGenre}}/game" title="Game">Game</a></li>
                                        <li><a href="/{{getUrlGenre}}/gender" title="Gender">Gender</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{getUrlGenre}}/gender+bender" title="Gender Bender">Gender
                                                Bender</a></li>
                                        <li><a href="/{{getUrlGenre}}/harem" title="Harem">Harem</a></li>
                                        <li><a href="/{{getUrlGenre}}/historical" title="Historical">Historical</a></li>
                                        <li><a href="/{{getUrlGenre}}/history" title="History">History</a></li>
                                        <li><a href="/{{getUrlGenre}}/horror" title="Horror">Horror</a></li>
                                        <li><a href="/{{getUrlGenre}}/josei" title="Josei">Josei</a></li>
                                        <li><a href="/{{getUrlGenre}}/lolicon" title="Lolicon">Lolicon</a></li>
                                        <li><a href="/{{getUrlGenre}}/martial" title="Martial">Martial</a></li>
                                        <li><a href="/{{getUrlGenre}}/martial+arts" title="Martial Arts">Martial
                                                Arts</a></li>
                                        <li><a href="/{{getUrlGenre}}/mature" title="Mature">Mature</a></li>
                                        <li><a href="/{{getUrlGenre}}/mecha" title="Mecha">Mecha</a></li>
                                        <li><a href="/{{getUrlGenre}}/modern+life" title="Modern Life">Modern Life</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{getUrlGenre}}/mystery" title="Mystery">Mystery</a></li>
                                        <li><a href="/{{getUrlGenre}}/psychological"
                                                title="Psychological">Psychological</a></li>
                                        <li><a href="/{{getUrlGenre}}/romance" title="Romance">Romance</a></li>
                                        <li><a href="/{{getUrlGenre}}/school+life" title="School life">School life</a>
                                        </li>
                                        <li><a href="/{{getUrlGenre}}/sci-fi" title="Sci-fi">Sci-fi</a></li>
                                        <li><a href="/{{getUrlGenre}}/seinen" title="Seinen">Seinen</a></li>
                                        <li><a href="/{{getUrlGenre}}/shoujo" title="Shoujo">Shoujo</a></li>
                                        <li><a href="/{{getUrlGenre}}/shoujo+ai" title="Shoujo Ai">Shoujo Ai</a></li>
                                        <li><a href="/{{getUrlGenre}}/shounen" title="Shounen">Shounen</a></li>
                                        <li><a href="/{{getUrlGenre}}/shounen+ai" title="Shounen Ai">Shounen Ai</a></li>
                                        <li><a href="/{{getUrlGenre}}/slice+of+life" title="Slice of Life">Slice of
                                                Life</a></li>
                                        <li><a href="/{{getUrlGenre}}/smut" title="Smut">Smut</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" id="options"><a href="javascript:void(0)" class="dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span>
                            Options <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right settings">
                            <form class="form-horizontal">
                                <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label"
                                        for="option-background">Background</label>
                                    <div class="col-sm-5 col-md-7"><select class="form-control" id="option-background">
                                            <option value="#F4F4F4">Light gray</option>
                                            <option value="#E9EBEE">Light blue</option>
                                            <option value="#F4F4E4">Light yellow</option>
                                            <option value="#EAE4D3">Sepia</option>
                                            <option value="#D5D8DC">Dark blue</option>
                                            <option value="#FAFAC8">Dark yellow</option>
                                            <option value="#EFEFAB">Wood grain</option>
                                            <option value="#FFF">White</option>
                                            <option value="#232323">Dark</option>
                                        </select></div>
                                </div>
                                <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label"
                                        for="option-font-family">Font family</label>
                                    <div class="col-sm-5 col-md-7"><select class="form-control" id="option-font-family">
                                            <option value="'Palatino Linotype', sans-serif">Palatino Linotype</option>
                                            <option value="Bookerly, sans-serif">Bookerly</option>
                                            <option value="Minion, sans-serif">Minion</option>
                                            <option value="'Segoe UI', sans-serif">Segoe UI</option>
                                            <option value="Roboto, sans-serif">Roboto</option>
                                            <option value="'Roboto Condensed', sans-serif">Roboto Condensed</option>
                                            <option value="'Patrick Hand', sans-serif">Patrick Hand</option>
                                            <option value="'Noticia Text', sans-serif">Noticia Text</option>
                                            <option value="'Times New Roman', sans-serif">Times New Roman</option>
                                            <option value="Verdana, sans-serif">Verdana</option>
                                            <option value="Tahoma, sans-serif">Tahoma</option>
                                            <option value="Arial, sans-serif">Arial</option>
                                        </select></div>
                                </div>
                                <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label"
                                        for="option-font-size">Font size</label>
                                    <div class="col-sm-5 col-md-7"><select class="form-control" id="option-font-size">
                                            <option value="16px">16</option>
                                            <option value="18px">18</option>
                                            <option value="20px">20</option>
                                            <option value="22px">22</option>
                                            <option value="24px">24</option>
                                            <option value="26px">26</option>
                                            <option value="28px">28</option>
                                            <option value="30px">30</option>
                                            <option value="32px">32</option>
                                            <option value="34px">34</option>
                                            <option value="36px">36</option>
                                            <option value="38px">38</option>
                                            <option value="40px">40</option>
                                        </select></div>
                                </div>
                                <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label"
                                        for="option-line-height">Line height</label>
                                    <div class="col-sm-5 col-md-7"><select class="form-control" id="option-line-height">
                                            <option value="100%">100%</option>
                                            <option value="120%">120%</option>
                                            <option value="140%">140%</option>
                                            <option value="160%">160%</option>
                                            <option value="180%">180%</option>
                                            <option value="200%">200%</option>
                                        </select></div>
                                </div>
                                <div class="form-group form-group-sm"><label
                                        class="col-sm-2 col-md-5 control-label">Full frame</label>
                                    <div class="col-sm-5 col-md-7"><label class="radio-inline" for="fluid-yes"><input
                                                type="radio" name="fluid-switch" id="fluid-yes" value="yes">
                                            Yes</label><label class="radio-inline" for="fluid-no"><input type="radio"
                                                name="fluid-switch" id="fluid-no" value="no" checked=""> No</label>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label">No
                                        line break</label>
                                    <div class="col-sm-5 col-md-7"><label class="radio-inline" for="onebreak-yes"><input
                                                type="radio" name="onebreak-switch" id="onebreak-yes" value="yes">
                                            Yes</label><label class="radio-inline" for="onebreak-no"><input type="radio"
                                                name="onebreak-switch" id="onebreak-no" value="no" checked="">
                                            No</label></div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="/search">
                    <div class="input-group search-holder"><input class="form-control" id="search-input" type="search"
                            name="keyword" placeholder="Search...">
                        <div class="input-group-btn"><button class="btn btn-default" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button></div>
                    </div>
                    <div class="list-group list-search-res hide"></div>
                </form>
            </div>
        </div>
    </div>
</header>